In [1]:
from sklearn.preprocessing import LabelEncoder
import pandas as pd

In [13]:
data=pd.read_csv('D:\Pyn\online learning\Data Science\Day 24- EDA (part 2)\iris.csv',index_col=0)

In [14]:
data

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
1             5.1          3.5           1.4          0.2     setosa
2             4.9          3.0           1.4          0.2     setosa
3             4.7          3.2           1.3          0.2     setosa
4             4.6          3.1           1.5          0.2     setosa
5             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
146           6.7          3.0           5.2          2.3  virginica
147           6.3          2.5           5.0          1.9  virginica
148           6.5          3.0           5.2          2.0  virginica
149           6.2          3.4           5.4          2.3  virginica
150           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [15]:
data1=data.copy()

In [16]:
data1

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
1             5.1          3.5           1.4          0.2     setosa
2             4.9          3.0           1.4          0.2     setosa
3             4.7          3.2           1.3          0.2     setosa
4             4.6          3.1           1.5          0.2     setosa
5             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
146           6.7          3.0           5.2          2.3  virginica
147           6.3          2.5           5.0          1.9  virginica
148           6.5          3.0           5.2          2.0  virginica
149           6.2          3.4           5.4          2.3  virginica
150           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [17]:
labelencoder=LabelEncoder()

In [18]:
data1.iloc[:,-1]=labelencoder.fit_transform(data1.iloc[:,-1])

C:\Users\aviji\AppData\Local\Temp\ipykernel_26324\1256785658.py:1: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  data1.iloc[:,-1]=labelencoder.fit_transform(data1.iloc[:,-1])

In [19]:
data1

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width  Species
1             5.1          3.5           1.4          0.2        0
2             4.9          3.0           1.4          0.2        0
3             4.7          3.2           1.3          0.2        0
4             4.6          3.1           1.5          0.2        0
5             5.0          3.6           1.4          0.2        0
..            ...          ...           ...          ...      ...
146           6.7          3.0           5.2          2.3        2
147           6.3          2.5           5.0          1.9        2
148           6.5          3.0           5.2          2.0        2
149           6.2          3.4           5.4          2.3        2
150           5.9          3.0           5.1          1.8        2

[150 rows x 5 columns]

In [20]:
from sklearn.preprocessing import OneHotEncoder

In [21]:
data2=pd.read_csv('D:\Pyn\online learning\Data Science\Day 24- EDA (part 2)\iris.csv')

In [22]:
data2

,Unnamed: 0,Sepal.Length,Sepal.Width,Petal.Length,Petal.Width,Species
0,1,5.1,3.5,1.4,0.2,setosa
1,2,4.9,3.0,1.4,0.2,setosa
2,3,4.7,3.2,1.3,0.2,setosa
3,4,4.6,3.1,1.5,0.2,setosa
4,5,5.0,3.6,1.4,0.2,setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,virginica
146,147,6.3,2.5,5.0,1.9,virginica
147,148,6.5,3.0,5.2,2.0,virginica
148,149,6.2,3.4,5.4,2.3,virginica
149,150,5.9,3.0,5.1,1.8,virginica

In [23]:
enc=OneHotEncoder(handle_unknown='ignore')

In [24]:
paragraph="This is the NLP session that is going on and finally we are happy. Is everyone happy. iNeuron is a company where we teach all the tech"

In [25]:
import nltk

In [26]:
sentences=nltk.sent_tokenize(paragraph)

In [27]:
nltk.word_tokenize(paragraph)

['This',
 'is',
 'the',
 'NLP',
 'session',
 'that',
 'is',
 'going',
 'on',
 'and',
 'finally',
 'we',
 'are',
 'happy',
 '.',
 'Is',
 'everyone',
 'happy',
 '.',
 'iNeuron',
 'is',
 'a',
 'company',
 'where',
 'we',
 'teach',
 'all',
 'the',
 'tech']

In [28]:
from nltk.stem import PorterStemmer

In [29]:
stemmer=PorterStemmer()

In [30]:
stemmer.stem("eating")

'eat'

In [31]:
from nltk.stem import WordNetLemmatizer

In [32]:
lemmatizer=WordNetLemmatizer()

In [33]:
lemmatizer.lemmatize("wellness")

'wellness'

In [34]:
nltk.download('wordnet')

[nltk_data] Error loading wordnet: <urlopen error [WinError 10060] A
[nltk_data]     connection attempt failed because the connected party
[nltk_data]     did not properly respond after a period of time, or
[nltk_data]     established connection failed because connected host
[nltk_data]     has failed to respond>

False

In [35]:
sentences

['This is the NLP session that is going on and finally we are happy.',
 'Is everyone happy.',
 'iNeuron is a company where we teach all the tech']

In [42]:
corpus=[]
for i in range(len(sentences)):
    words=nltk.word_tokenize(sentences[i])
    words=[stemmer.stem(word) for word in words]
    print(words)
    corpus.append(' '.join(words))

['thi', 'is', 'the', 'nlp', 'session', 'that', 'is', 'go', 'on', 'and', 'final', 'we', 'are', 'happi', '.']
['is', 'everyon', 'happi', '.']
['ineuron', 'is', 'a', 'compani', 'where', 'we', 'teach', 'all', 'the', 'tech']

In [43]:
corpus

['thi is the nlp session that is go on and final we are happi .',
 'is everyon happi .',
 'ineuron is a compani where we teach all the tech']

### Time series

In [45]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
%matplotlib inline

In [48]:
retail_data = pd.read_excel('D:\Pyn\online learning\data_science_class\February_21 DBSCAN _ Association Rules\Online Retail.xlsx')

In [49]:
retail_data.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [50]:
retail_data.shape

(541909, 8)